"""giteaapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from giteaapi.api_helper import APIHelper
from giteaapi.apis.base_api import BaseApi
from giteaapi.configuration import Server
from giteaapi.exceptions.api_exception import (
    ApiException,
)
from giteaapi.http.http_method_enum import HttpMethodEnum
from giteaapi.models.current_access_token_represents_the_metadata_of_the_currently_authenticated_token import (  # noqa: E501
    CurrentAccessTokenRepresentsTheMetadataOfTheCurrentlyAuthenticatedToken,
)
from giteaapi.models.gitignore_template_info import (
    GitignoreTemplateInfo,
)
from giteaapi.models.label_template import LabelTemplate
from giteaapi.models.license_template_info import (
    LicenseTemplateInfo,
)
from giteaapi.models.licenses_template_list_entry import (
    LicensesTemplateListEntry,
)
from giteaapi.models.server_version import ServerVersion


class MiscellaneousApi(BaseApi):
    """A Controller to access Endpoints in the giteaapi API."""

    def __init__(self, config):
        """Initialize MiscellaneousApi object."""
        super(MiscellaneousApi, self).__init__(config)

    def list_gitignores_templates(self):
        """Perform a GET request to /gitignore/templates.

        Returns a list of all gitignore templates

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. GitignoreTemplateList

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/gitignore/templates")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()

    def get_gitignore_template_info(self,
                                    name):
        """Perform a GET request to /gitignore/templates/{name}.

        Returns information about a gitignore template

        Args:
            name (str): name of the template

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. GitignoreTemplateInfo

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/gitignore/templates/{name}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("name")
                .value(name)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GitignoreTemplateInfo.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "APINotFound is a not found empty response",
                ApiException),
        ).execute()

    def list_label_templates(self):
        """Perform a GET request to /label/templates.

        Returns a list of all label templates

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. LabelTemplateList

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/label/templates")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()

    def get_label_template_info(self,
                                name):
        """Perform a GET request to /label/templates/{name}.

        Returns all labels in a template

        Args:
            name (str): name of the template

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. LabelTemplateInfo

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/label/templates/{name}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("name")
                .value(name)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LabelTemplate.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "APINotFound is a not found empty response",
                ApiException),
        ).execute()

    def list_license_templates(self):
        """Perform a GET request to /licenses.

        Returns a list of all license templates

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. LicenseTemplateList

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/licenses")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LicensesTemplateListEntry.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_license_template_info(self,
                                  name):
        """Perform a GET request to /licenses/{name}.

        Returns information about a license template

        Args:
            name (str): name of the license

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. LicenseTemplateInfo

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/licenses/{name}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("name")
                .value(name)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(LicenseTemplateInfo.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "APINotFound is a not found empty response",
                ApiException),
        ).execute()

    def render_markdown(self,
                        body=None):
        """Perform a POST request to /markdown.

        Render a markdown document as HTML

        Args:
            body (MarkdownOption, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. MarkdownRender is a
                rendered markdown document

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/markdown")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("422",
                "APIValidationError is error format response related to input validat"
                "ion",
                ApiException),
        ).execute()

    def render_markdown_raw(self,
                            body):
        """Perform a POST request to /markdown/raw.

        Render raw markdown as HTML

        Args:
            body (str): Request body to render

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. MarkdownRender is a
                rendered markdown document

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/markdown/raw")
            .http_method(HttpMethodEnum.POST)
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("text/plain"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("422",
                "APIValidationError is error format response related to input validat"
                "ion",
                ApiException),
        ).execute()

    def render_markup(self,
                      body=None):
        """Perform a POST request to /markup.

        Render a markup document as HTML

        Args:
            body (MarkupOption, optional): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. MarkupRender is a
                rendered markup document

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/markup")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .body_serializer(APIHelper.json_serialize)
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("422",
                "APIValidationError is error format response related to input validat"
                "ion",
                ApiException),
        ).execute()

    def get_signing_key(self):
        """Perform a GET request to /signing-key.gpg.

        Get default signing-key.gpg

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. GPG armored public key

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/signing-key.gpg")
            .http_method(HttpMethodEnum.GET)
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()

    def get_signing_key_ssh(self):
        """Perform a GET request to /signing-key.pub.

        Get default signing-key.pub

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. ssh public key

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/signing-key.pub")
            .http_method(HttpMethodEnum.GET)
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True),
        ).execute()

    def get_current_token(self):
        """Perform a GET request to /token.

        Get the currently authenticated token

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. CurrentAccessToken
                represents the currently authenticated access token.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/token")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CurrentAccessTokenRepresentsTheMetadataOfTheCurrentlyAuthenticatedToken.from_dictionary)
            .is_api_response(True),
        ).execute()

    def delete_current_token(self):
        """Perform a DELETE request to /token.

        Delete the currently authenticated token

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. token deleted

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/token")
            .http_method(HttpMethodEnum.DELETE)
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .is_api_response(True),
        ).execute()

    def get_version(self):
        """Perform a GET request to /version.

        Returns the version of the Gitea application

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. ServerVersion

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/version")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ServerVersion.from_dictionary)
            .is_api_response(True),
        ).execute()
