"""gitea.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.or_auth_group import (
    Or,
)
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from gitea.api_helper import APIHelper
from gitea.apis.base_api import BaseApi
from gitea.configuration import Server
from gitea.http.http_method_enum import HttpMethodEnum
from gitea.models.general_api_settings import (
    GeneralApiSettings,
)
from gitea.models.general_attachment_settings import (
    GeneralAttachmentSettings,
)
from gitea.models.general_repo_settings import (
    GeneralRepoSettings,
)
from gitea.models.general_ui_settings import (
    GeneralUiSettings,
)


class SettingsApi(BaseApi):
    """A Controller to access Endpoints in the gitea API."""

    def __init__(self, config):
        """Initialize SettingsApi object."""
        super(SettingsApi, self).__init__(config)

    def get_general_api_settings(self):
        """Perform a GET request to /settings/api.

        Get instance's global settings for api

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. GeneralAPISettings

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/settings/api")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GeneralApiSettings.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_general_attachment_settings(self):
        """Perform a GET request to /settings/attachment.

        Get instance's global settings for Attachment

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers.
                GeneralAttachmentSettings

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/settings/attachment")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GeneralAttachmentSettings.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_general_repository_settings(self):
        """Perform a GET request to /settings/repository.

        Get instance's global settings for repositories

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. GeneralRepoSettings

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/settings/repository")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GeneralRepoSettings.from_dictionary)
            .is_api_response(True),
        ).execute()

    def get_general_ui_settings(self):
        """Perform a GET request to /settings/ui.

        Get instance's global settings for ui

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. GeneralUISettings

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER1)
            .path("/settings/ui")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Or(Single("BasicAuth"), Single("Token"),
                Single("AccessToken"), Single("AuthorizationHeaderToken"),
                Single("SudoParam"), Single("SudoHeader"), Single("TOTPHeader"))),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GeneralUiSettings.from_dictionary)
            .is_api_response(True),
        ).execute()
